body
{
    background-color: gray;
}

#wrapper
{
    width: 1000px;
    margin: auto;
}

#nav
{
    float: left;
    position: relative;
    width: 200px;
    background-color: brown;
}
#center
{
    border-radius: 5%;
    float: left;
    position: relative;
    width: 400px;
    background-color: white;
    padding: 10px;
}
#right
{
    float: left;
    position: relative;
    width: 200px;
    background-color: lightgray;
    padding: 10px;
}
#menu ul
{
    display: block;
    position: relative;
}
#menu ul li
{
    position: relative;
    list-style-type: none;
}   
#menu ul li a:hover
{
    color: yellow;
}

.black-border{  border: 1px solid black;    }
.grayed{color: gray;}
.white{color: rgb(218, 218, 218);}
#registration{background-color: darkgray;}
.brown{color: brown;}