#menu
{
    margin: 0;
    padding: 0;
    border: solid 1px black;
    width: 10em;
}

.link
{
    display: block;
    margin: 2px;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-left: 1em;
    padding-right: 1em;
    background-color: yellow;
    color: black;
    border: outset 3px grey;
    text-align: center;
    font-weight: bold;
}

span
{
    display: none;
}

.link:hover
{
    background-color: black;
    color: yellow;
    border: inset;
}

#pozn
{
  font-size: 20px;
}
